body{
    background-color: var(--secondary-color);
    color: var(--black);
}

.highlights-container{
    padding: 1rem;
    text-align: center;
}

.rows{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.row-item{
    background-color: var(--accent-color);
    padding: 0.5rem;
    border: 3px solid var(--black);
}

.row-item img{
    border: 3px solid var(--black);
    width: 240px;
}